.cover{
    display: flex;
    padding: auto 20px;
    width: 100%;
}

.cover h5{
    color: var(--acentclr);
} 

.cover h1, p{
    color: var(--offwhite);
}

.cover .content a{
    color: var(--offwhite);
    background-color: var(--secclr);
    border-radius: 5px;
    border: 1px solid var(--acentclr);
    padding: 5px 25px;
    transition: 0.5s;
}

.cover .content a:hover{
    transform: scaleX(1.2);
}

.cover .content i{
    margin-left: 10px;
    font-size: 14px;
}

.cover .content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.cover .pix{
    width: 60%;
}

.cover .pix img{
    animation: float 3s infinite;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}


/* Media Query ----------------------------- */
@media (max-width:576px){
    .cover{
        flex-direction: column-reverse;
    }

    .cover .pix{
        width: 100%;
    }

    .cover .content{
        width: 90%;
        padding: 10px;
        margin: 10px;
    }
}
