.footer{
    margin-bottom: 20px;

}


.footer p{
    border: 1px solid white;
    padding: 5px 40px 5px;
    border-radius: 25px;
    color: var(--offwhite);
    margin-top: 40px;
}


@media (max-width:576px){
    .footer{
        margin-bottom: 0;
    
    }
}