.productcard{
    border: 2px solid var(--acentclr);
    border-radius: 5px;
    margin: 15px;
    /* padding: 10px; */
    text-align: center;
    background-color: var(--secclr);
}

.productcard img{
    width: 100%;
}

.productcard h3{
    color: var(--acentclr);
}

.productcard h2{
    color: var(--offwhite);
}

.productcard .burgerdetails{
    padding: 10px;
}

.productcard button{
    background-color: var(--acentclr);
    padding: 5px 20px;
    border-radius: 25px;
    color: var(--priclr);
    font-weight: bolder;
}